body.light {
  --bg: #ffffff;
  --text: #000000;
}

body.dark {
  --bg: #121212;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: sans-serif;
}

.tema button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
